/* minWidth: '400px',
    textAlign: 'center',
    backgroundColor: 'black',
    color: 'white',
    zIndex: 1, */

.leaderboard {
  min-width: 400px;
  background-color: black;
  color: white;
}

.leaderboard > h1 {
  text-align: center;
  font-size: 3.2em;
}

.tabs {
  display: flex;
  width: 100%;
}

.tab {
  flex: 1;
  border: 2px solid white;
}

.tab > h2 {
  font-size: 2.4em;
  text-align: center;
}

.rankings {
  display: grid;
  grid-template-columns: 0.3fr 2fr 1fr;
  gap: 0.5rem;
}

.header,
.row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  text-align: center;
}

.header {
  border-bottom: 2px solid white;
  font-size: 1.8em;
}

.row {
  padding: 0.5rem 0;
  font-size: 1.6em;
}

.pager {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  font-size: 1.5rem;
}

.pager button {
  background-color: transparent;
  color: white;
  border: none;
}

.retry {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.4em;
  color: white;
  background-color: transparent;
  border: none;
}

.icon {
  font-size: 2.5rem !important;
}
