.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding: var(--space-4) var(--space-8);
  background-color: transparent;
  border-bottom: 1px solid var(--color-border);
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  transition: 0.3s;
}

.logo:hover {
  text-shadow: var(--color-text-primary) 0px 0px 10px;
}

.navbar > ul {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  list-style: none;
  font-size: 1.8em;
  padding: 0;
}

.navbar a {
  color: var(--color-text-body);
  text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
  color: var(--color-accent);
}
